body{
    background-color: white;
    font-family: sans-serif; /*placeholder font*/
    text-align: center;
    color: #222;
}
header {
    border-bottom: 4px solid #8b0000; 
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    font-size: 20px;
}
a {
    text-decoration: none; /*got rid of the gross underline*/
    color: #3a1f1f; /*and the gross blue color*/
}
/*placeholder*/
figure {
    /*background-color: #cfcfcf;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
}
p {
   text-align: left;
}
.translate{
    display: flex;
    background-color: #cfcfcf;
    flex-direction: column;
    align-items: center; /*ultimately i want these to be cute buttons i think*/
}
summary {
  list-style:none; /*got rid of the gross arrow*/
  text-decoration: underline;
}
summary:hover{
    color: red;
}