                     /* BASELINE STYLING */
body{
    background-color: #fff7e7; /* this is like a beige sortof thing */
    font-family: sans-serif;
    text-align: center;
    color: #222; 
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}
header {
    border-bottom: 4px solid #8b0000; 
    padding: 15px 0;
    background-color: #ebd3bd;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    font-size: 20px;
    
}
h1{
    color: #4f2405;
    font-size: 50px;
    font-family: "Ruslan Display", serif;
}
h2, h3{
    color: #4f2405;
    font-family:sans-serif;
}
p{
    text-align: left;
}
/*Added a wee animation on hover for all links*/
a {
    text-decoration: none; /*got rid of the gross underline*/
    color: #3a1f1f; /*and the gross blue color*/
    opacity: 1;
  transition: 0.3s;
    font-weight: bold;
}
a:hover {
    color: rgb(70, 13, 6);
    background-color: #f26f32;
}

/*placeholder*/
.splash_textbook {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #888;
}
.splash{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_splash h1{
    font-family: "Ruslan Display", serif;
     margin-bottom: -1%;
     color:rgb(211, 73, 31);
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
    
}

summary {
  list-style:none; /*got rid of the gross arrow*/
  text-decoration: underline;
}
summary:hover{
    color: red;
}
.methodology{
    display: flex;
    flex-direction: column;
    text-align: left;
}
                                /*CORPUS*/
.corpus_title{
    padding: 10px 0;
    margin:1%
}
.corpus_TEXTBOOK_IMAGE{
    text-align: center;
    width: 100%; /*for whatever reason the width needs to be set like this*/
    justify-content: center;
    display: flex;
}
                                /*EACH PAGE*/
                /*BUTTONS*/
.buttons{
    color: #3a1f1f;
    display: flex;
    width: 100%;  
    justify-content: space-between;

}
.buttons a{
    border: 4px solid#8b0000;
    margin: 20px;
    padding: 10px;
    background-color: #dc8546;
}

                /*CORPUS TEXT*/
/*ul{
    list-style-type: none;
    text-align: left;
    text-overflow: ellipsis;
}*/
.toc_container{
    gap: 20px;
    display: flex;
    align-items: flex-start;
}
.toc{
    width: 40%;
    background-color: #ffe0c0;
    flex: 0 0 30%;
    min-width: 0;

}
.toc li a { /* TEMP WE'LL SEE */
   display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.toc li { min-width: 0; 
}
.text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
}
.main_TOC{   /*chapter0*/
    text-align: center;
    font-size: 18px;
}
            /*DRIP*/
.decorative_border{
    background-image: url("AdobeStock_816480317.png");
    background-repeat: repeat-x;
    background-size: 200px auto;
    height: 60px;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

/* =====FOR POPUPS===== */
.people {color: blue;} 
.person {color: blue;} 
.place {color: blue;} 
.event {color: blue;}
.territory {color: blue;}

/* container */
.popup {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

/* the tooltip box */
.popup .popuptext {
  visibility: hidden;
  opacity: 0;
  min-width: 180px;
  max-width: 300px;

  background-color: black;
  color: white;
  text-align: left;
  padding: 6px 8px;
  border-radius: 6px;

  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  /*overflow */
  white-space: normal;
  word-wrap: break-word;
}

/* show on hover */
.popup:hover .popuptext {
  visibility: visible;
  opacity: 1;
}